@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Inter", serif;
}

/* Navigation */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.75rem 2.5rem;
  border-bottom: 1px solid #acacac;
}

.nav__logo {
  font-weight: bold;
  font-size: 1.5rem;
}

.nav__menu {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.nav__stroke {
  height: 1px;
  width: 100px;
  background-color: #000;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  padding: 4rem 2.5rem 0;
}

.header__title {
  flex-basis: 55%;
}

.header__author {
  font-size: 5rem;
}

.header__content {
  flex-basis: 45%;
}

.header__para {
  font-size: 1.75rem;
  font-weight: 525;
  line-height: 2.2rem;
}

.header__links {
  margin-top: 20px;
  display: flex;
  gap: 0.75rem;
}

.header__link {
  text-decoration: none;
  color: #000;
  border: 1px solid #212121;
  border-radius: 15px;
  padding: 5px 10px;
  font-size: 0.75rem;
  font-weight: 500;
}
